.icnbt {
    display: flex;
    width: 50px;
    height: 50px;
}

.settings-label {
    position: absolute;
    right: 30px;
    top: 16px;
}

@media screen  and (max-width: 480px) {
    .settings-label {
        right: unset;
        top: unset;
        bottom: 16px;
    }
}