:root {
    --bg-color: #f8f6f4;
    --text-color: #333;
    --card-bg: #fff;
    --primary: #d98d1c;
    --primary-dark: #a76b26;
    --result-bg: #f5e4d3;
    --result-text: #222;
    --result-bg2: #d85353;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --text-color: #f0f0f0;
        --card-bg: #1e1e1e;
        --primary: #d38f67;
        --primary-dark: #9a633f;
        --result-bg: #4a402c;
        --result-text: #fff;
        --result-bg2: #804242;
    }
}

body {
    margin: 0;
    font-family: sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    min-height: 100vh;
}

.container {
    background: var(--bg-color);
    padding: 2rem;
    width: 100%;
    display: block;
}

.container.load {
    display: none;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary);
}

label {
    display: block;
    margin: 0.25rem;
    font-weight: bold;
}

select,input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    background: var(--card-bg);
    color: var(--text-color);
}

select:focus,input:focus {
    border-color: var(--primary);
}


button {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.75rem;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--primary-dark);
}


input[type="time"]::-webkit-calendar-picker-indicator {
    position: absolute;
    opacity: 0;
}

#result {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: var(--result-bg);
    border-left: 4px solid var(--primary);
    border-radius: 8px;
    display: none;
    text-align: left;
}

.form-section {
    display: flex;
    flex-wrap: wrap;
}

.form-section.collapsed {
    display: none;
}

input[type="radio"] {
    display: none;
}

.toggle-search,.toggle-search:hover {
    margin-top: 1rem;
    display: none;
    background: transparent;
    color: var(--primary);
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin: 0 0;
}

.toggle-search:hover {
    color: var(--primary-dark);
}

.bus_c {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: var(--result-bg2);
    color: var(--result-text);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hide {
    display: none;
}

.srhf {
    display: block;
}

.schB{
    display: flex;
}

@media screen and (max-width: 480px) {
    body {
        justify-content: center;
        align-items: center;
    }

    .container {
        padding: 1rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    button {
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    .form-section {
        display: block;
    }

    .schB {
        display: flex;
        width: 40%;
    }

    select {
        width: 100%;
    }

    input[type="time"] {
        width: calc(100% - 24px);
    }
}

.sc {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: var(--text-color);
    z-index: 1;
    font-size: 20vmin;
}

.sc.load {
    background-color: relative;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    color: var(--text-color);
}

@media screen and (min-width:546px) {
    #reverseDirectionS{
        transform: rotate(90deg);
    }
}