    :root {
        --dot-size: 12px;
        --dot-size-terminal: 20px;
        --line-thickness: 3px;
        --gap: 12px;
        --label-font: 14px;
    }

    .timeline-wrapper {
        max-width: 800px;
        margin: 0 auto
    }

    .timeline {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: var(--gap);
        justify-content: center;
        
    }

    .timeline.vertical {
        flex-direction: column;
        align-items: flex-start;
        width: 162px;
    }

    .timeline.horizontal {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .segment {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .vertical .segment {
        flex-direction: row;
    }

    .horizontal .segment {
        flex-direction: column;
        text-align: center;
    }

    .dot {
        width: var(--dot-size);
        height: var(--dot-size);
        border-radius: 50%;
        background: var(--primary);
        flex-shrink: 0;
    }

    .dot.terminal {
        width: var(--dot-size-terminal);
        height: var(--dot-size-terminal);
        background: var(--primary);
    }

    .station-name {
        font-size: var(--label-font);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
    }

    .horizontal .station-name {
        max-width: 100px;
    }

    .label {
        font-size: 13px;
        color: var(--result-bg2);
    }

    .time {
        font-size: 13px;
        color: var(--primary);
        margin-right: 6px;
    }

    .connector {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vertical .connector {
        width: 4px;
        height: 60px;
        margin-left: calc(var(--dot-size)/2 - 2px);
    }

    .horizontal .connector {
        height: 4px;
        width: 100px;
        margin-top: calc(var(--dot-size)/2 + 1px);
    }

    .connector .line {
        position: relative;
        left: 3.5px;
        width: 100%;
        height: 100%;
    }

    .vertical .connector.walking .line {
        background: repeating-linear-gradient(180deg, var(--result-bg2) 0 6px, transparent 6px 12px);
    }

    .horizontal .connector.walking .line {
        background: repeating-linear-gradient(90deg, var(--result-bg2) 0 6px, transparent 6px 12px);
    }

    .connector.solid .line {
        background: var(--result-bg2);
    }

    .transport-label {
        position: absolute;
        white-space: nowrap;
        border-radius: 8px;
        padding: 2px 6px;
        font-size: 12px;
        color: var(--text-color);
    }

    .vertical .transport-label {
        top: 30%;
        left: 12px;
        transform: translateY(-50%);
    }

    .horizontal .transport-label {
        top: -28px;
        left: 50%;
        transform: translateX(-50%);
    }

    .duration-label,
    .transfer-label {
        position: absolute;
        white-space: nowrap;
        font-size: 12px;
        color: var(--text-color);
        border-radius: 6px;
        padding: 2px 4px;
    }

    .vertical .duration-label,
    .vertical .transfer-label {
        bottom: 0px;
        left: 12px;
    }

    .horizontal .duration-label,
    .horizontal .transfer-label {
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
    }

    .transfer-label {
        background: var(--transfer-bg);
    }

    @media (max-width:800px) {
        :root {
            --dot-size: 10px;
            --dot-size-terminal: 16px;
        }

        .timeline {
            flex-direction: column;
            align-items: flex-start;
        }

        .dot {
            position: relative;
            left: -45px;
        }

        .dot.terminal {
            left: -48px;
        }

        .time {
            position: relative;
            left: 24px;
        }

        .station-name {
            position: relative;
            left: -4px;
        }
    }